
.box-containerr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem;
  }
  
  .rate_box {
    width: 20rem;
    padding: 2rem;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #a83c27;
  }
  .rate_box h5{
    color: aliceblue;
  }
  .ratebox_clr{
    color: rgb(69, 11, 138) !important;
    font-weight: bolder;
  }
  